<mat-toolbar color='primary'>
  <a mat-button routerLink='/home' title='Go to home page'>
    <mat-icon>home</mat-icon>
    <span class='app-title'>{{appTitle}}</span>
  </a>
  <a aria-label='home' mat-button routerLinkActive='active' routerLink='/home' title='Home page'>Home</a>
  <a aria-label='about' mat-button routerLinkActive='active' routerLink='/about' title='About page'>About</a>
  <span class='toolbar-fill'></span>
  <a mat-button (click)='signIn()'>
    <mat-icon>exit_to_app</mat-icon>
  </a>
  <a mat-button (click)='signOut()'>
    <mat-icon>power_settings_new</mat-icon>
  </a>
</mat-toolbar>
