@import '~@angular/material/theming';
@include mat-core();

$ngrx-material-auth0-schematics-primary: mat-palette($mat-grey, 700, 300, 900);
$ngrx-material-auth0-schematics-accent: mat-palette($mat-blue-grey, A200, A400, A700);
$ngrx-material-auth0-schematics-warn: mat-palette($mat-red, 500);

$ngrx-material-auth0-schematics-theme: mat-dark-theme($ngrx-material-auth0-schematics-primary,
$ngrx-material-auth0-schematics-accent,
$ngrx-material-auth0-schematics-warn);

@include angular-material-theme($ngrx-material-auth0-schematics-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active-accent {
  color: mat-color($ngrx-material-auth0-schematics-primary, darker);
  background-color: mat-color($ngrx-material-auth0-schematics-accent);
}

.icon-lg {
  font-size: 3em;
  width: 48px !important;
  height: 48px !important;
}

.icon-md {
  font-size: 2em;
  width: 36px !important;
  height: 36px !important;
}

.round-image {
  border-radius: 50%;
}

